:root {
  --color-primary: #6eccea;
  --color-secondary: #de3c4b;
  --color-grey-dark-1: #223843;
  --color-grey-light-1: #ececec;
  --color-white: #fff;
  --color-black: #000;
  --header-height: 9rem;
  --header-width: 100rem;
  --box-shadow-menu: 0 1rem 3rem rgba(0, 0, 0, 0.3); }

*,
*::after,
*::before,
input,
label {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.heading-primary {
  color: var(--color-white);
  font-size: 5.5rem;
  font-weight: 900;
  justify-self: center;
  text-align: center;
  width: 60%;
  line-height: 1.4; }
  @media only screen and (max-width: 600px) {
    .heading-primary {
      width: 100%;
      font-size: 4.5rem; } }

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--color-white); }
  @media only screen and (max-width: 600px) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  justify-self: center;
  font-size: 1.8rem;
  text-transform: uppercase; }
  .heading-tertiary--welcome {
    color: var(--color-white); }
  .heading-tertiary--about {
    justify-self: start;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--color-primary); }

.paragraph {
  color: var(--color-white);
  font-size: 1.5rem; }

.btn, .btn:visited, .btn:link {
  display: grid;
  align-content: center;
  width: 15rem;
  height: 4rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.6rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-top: 4rem;
  transition: all 0.3s;
  background-size: 220%; }

.btn--banner {
  justify-self: center;
  background-color: var(--color-secondary);
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  color: var(--color-white); }
  .btn--banner:hover, .btn--banner:active {
    background-position: 100%;
    color: var(--color-secondary); }

.btn--about {
  background-color: var(--color-primary);
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #41bce4 50%);
  color: var(--color-grey-dark-1); }
  .btn--about:hover, .btn--about:active {
    background-position: 100%; }

.header {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  height: var(--header-height);
  width: var(--header-width); }
  @media only screen and (max-width: 1050px) {
    .header {
      --header-width: 100%; } }
  .header__img {
    height: 5rem; }
    @media only screen and (max-width: 1050px) {
      .header__img {
        padding-left: 3rem; } }

.nav {
  display: grid;
  align-items: center;
  font-size: 1.7rem; }
  .nav__checkbox {
    display: none; }
  .nav__button, .nav__background {
    display: none;
    transition: all 0.8s; }
    @media only screen and (max-width: 750px) {
      .nav__button, .nav__background {
        display: initial;
        border-radius: 50%; } }
  .nav__button {
    text-align: center;
    position: fixed;
    top: 2rem;
    right: 3rem;
    height: 5rem;
    width: 5rem;
    background-color: var(--color-grey-light-1);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-menu);
    cursor: pointer;
    z-index: 30; }
  .nav__background {
    position: fixed;
    top: 2.5rem;
    right: 3.5rem;
    height: 4rem;
    width: 4rem;
    background-image: radial-gradient(#fff, black);
    z-index: 10; }
  .nav__checkbox:checked ~ .nav__background {
    transform: scale(77); }
  .nav__icon {
    position: relative;
    margin-top: 2.5rem;
    transition: all 0.4s; }
    .nav__icon, .nav__icon::before, .nav__icon::after {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: var(--color-grey-dark-1); }
    .nav__icon::before, .nav__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.3s; }
    .nav__icon::before {
      top: -0.8rem; }
    .nav__icon::after {
      top: 0.8rem; }
  .nav__button:hover .nav__icon::before {
    top: -1rem; }
  .nav__button:hover .nav__icon::after {
    top: 1rem; }
  .nav__checkbox:checked + .nav__button .nav__icon {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__button .nav__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav__checkbox:checked + .nav__button .nav__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .nav__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: space-arround;
    list-style: none;
    transition: all 0.8s; }
    @media only screen and (max-width: 750px) {
      .nav__list {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        grid-template-columns: 1fr;
        justify-items: center;
        align-content: center;
        opacity: 0;
        width: 0;
        height: 100vh;
        left: -50%;
        z-index: 20; } }
  .nav__item {
    display: grid; }
  .nav__link, .nav__link:link, .nav__link:visited {
    justify-self: center;
    padding: 0.2rem 2rem 0.4rem;
    text-decoration: none;
    color: var(--color-grey-dark-1);
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #223843 50%);
    background-size: 220%;
    border-radius: 0.6rem;
    transition: all 0.3s; }
  .nav__link:hover, .nav__link:active {
    background-position: 100%;
    color: var(--color-grey-light-1); }
  @media only screen and (max-width: 750px) {
    .nav__checkbox:checked ~ .nav__list {
      opacity: 1;
      width: 100%;
      left: 50%; }
    .nav__checkbox:checked ~ .nav__list .nav__item {
      margin: 1rem; }
    .nav__checkbox:checked ~ .nav__list .nav__link, .nav__checkbox:checked ~ .nav__list .nav__link:visited, .nav__checkbox:checked ~ .nav__list .nav__link:link {
      font-size: 3rem; } }

.section-banner {
  background-image: linear-gradient(rgba(34, 56, 67, 0.5), rgba(34, 56, 67, 0.5)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  height: calc(85vh - var(--header-height));
  justify-content: center;
  align-content: center;
  display: grid;
  transition: all 0.3s; }
  @media only screen and (max-width: 1150px) {
    .section-banner {
      height: calc(100vh - var(--header-height)); } }

.section-about {
  height: 77rem;
  position: relative;
  display: grid; }
  @media only screen and (max-width: 750px) {
    .section-about {
      height: auto;
      grid-template-rows: repeat(3, 1fr); } }
  .section-about__details {
    position: relative;
    background-image: linear-gradient(#223843, #223843), url(../img/bg-1.jpg);
    background-blend-mode: multiply;
    padding: 4rem 19% 4rem 4rem;
    width: 50%;
    height: min-content;
    margin-left: 16.666667%;
    margin-top: -10vh;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    transition: all 0.3s; }
    @media only screen and (max-width: 1150px) {
      .section-about__details {
        display: grid;
        padding: 4rem;
        margin-top: 0;
        margin-left: 0;
        width: 60%;
        height: 45vh; } }
    @media only screen and (max-width: 1000px) {
      .section-about__details {
        width: 50%; } }
    @media only screen and (max-width: 750px) {
      .section-about__details {
        align-content: center;
        width: 100%;
        position: relative;
        height: min-content; } }
  .section-about__photo {
    z-index: 1;
    background-image: url(../img/img-1.jpg);
    background-size: 130%;
    background-position: 100% 20%;
    background-repeat: no-repeat;
    width: 35%;
    height: 70%;
    position: absolute;
    margin-left: 50%;
    transition: all 0.3s; }
    @media only screen and (max-width: 1450px) {
      .section-about__photo {
        max-height: 45vh; } }
    @media only screen and (max-width: 1150px) {
      .section-about__photo {
        width: 40%;
        margin-left: 60%;
        min-height: 45vh; } }
    @media only screen and (max-width: 1000px) {
      .section-about__photo {
        width: 50%;
        margin-left: 50%; } }
    @media only screen and (max-width: 750px) {
      .section-about__photo {
        width: 100%;
        margin-left: 0;
        grid-row: 2;
        min-height: 70%; } }
    @media only screen and (max-width: 400px) {
      .section-about__photo {
        background-position: 80% 40%; } }
